<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
</head>
<body>
    <h1>
        TODO
    </h1>
    <!-- Insertion de taches -->
    <form action="{% url 'insertion_path' %}" method="post" autocomplete="off">
        {% csrf_token %}
        <input type="text" name="nom">
        <input type="button" value="envoyer">
    </form>
    <ul>
        <!-- Début de la liste des taches -->
        {% for tache in Todolist %}
            <li>
                {{ tache.nom }}
                <form action="{% url 'suppression_path' tache.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">
                        Supprimer
                    </button>
                </form>
            </li>
        {% empty %}
            <li>
                <p>Youpi ! Rien à faire</p>
            </li>
        {% endfor %}
        <!-- Fin de la liste des taches -->
    </ul>
</body>
</html>