<!DOCTYPE html>
<html lang="fr">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        <h1 class="text-center p-3">
            Mes tâches
        </h1>
        <div class="card">
            <ul class="list-group list-group-flush">
                <!-- Insertion de taches -->
                <li class="list-group-item ">
                    <form action="{% url 'insertion_path' %}" method="post" autocomplete="off">
                        <div class="form-inline">
                            <div class="p-2 w-100 d-flex bd-highlight">
                                {% csrf_token %}
                                <div class="w-100 bd-highlight">
                                    <input type="text" name="nom" maxlength="100" class="form-control w-100 bd-highlight"
                                    required>
                                </div>
                                <div class="flex-shrink-1 bd-highlight">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fas fa-plus-circle"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
                <!-- Début de la liste des taches -->
                {% for tache in Todolist %}
                <li class="list-group-item {% if tache.realise %} bg-success {% endif %}">
                    <div class="row">

                        <div class="col-11">
                            {{ tache.nom }}
                        </div>

                        <!-- Début realisation -->
                        <div class="col-1 row">
                            <form action="{% url 'realise_path' tache.id %}" class="pr-4" method="POST">
                                {% csrf_token %}
                                <!-- Si la tache a été réalise alors on coche la checkbox -->
                                <input type="checkbox" class="align-middle" name="realise" {% if tache.realise %} checked {% endif %}>
                            </form>
                            
                            <!-- Début suppression -->
                            <form action="{% url 'suppression_path' tache.id %}" class="" name="suppr">
                                {% csrf_token %}
                                <button type="submit" class="close align-middle" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
                <!-- Si il n'y a pas de taches -->
                {% empty %}
                <li class="list-group-item">
                    <p>Aucune tache</p>
                </li>
                {% endfor %}
                <!-- Fin de la liste des taches -->
            </ul>
        </div>
    </div>

    <!-- jQuery js -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

    <!-- BootStrap js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/760062a515.js" crossorigin="anonymous"></script>

    <!-- Custom js -->
    <script src="{% static 'todoApp/static.js' %}"></script> 
</body>

</html>